.header{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 32px;
    position: sticky;
    top: 0;
    width: 100%;
}
.link{
    color: white;
}
.container{
    display: flex;
    gap: 10px;
}
.sum{
    background-color: #FF5500;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px 8px;
}
