.footer{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
